html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    color: #000
}

body a:hover {
    color: #01f
}

.title {
    font-size: 2rem;
    font-weight: 100
}

.subtitle {
    font-size: 1.2rem
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: .6rem
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skip-links a {
    position:absolute;
    top: -3em;
    background-color:#000;
    color:#fff;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none
}

.skip-links a:focus{
    top: 0;
}

.nav-link:hover{
    display:inline-block;
    background-color: white;
    transform:translate(-10px);
    border-radius: 14px;
} 

.nav-link:hover {
    color:black !important ;
    text-decoration: underline;
} 


.dropdown-item:hover {
    background-color: rgb(219, 218, 218);
    color:blue;
    text-decoration: underline blue;
}
